/vendor
/node_modules
Homestead.yaml
Homestead.json
.env
artisan
bootstrap/
storage/
tests/
composer.json
composer.lock
gulpfile.js
package.json
phpspec.yml
phpunit.xml
server.php
public/web.config
/nbproject/private/
nbproject/
public/packages/